.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
  text-align: center;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 15px;
}

.list-group-item:hover {
  background-color: #eee;
}
